<!DOCTYPE html>
<html lang="es">
<body>

<section name="login_page">

<div class="container">
  <div class="card card-container">
        <form method="POST" action="/login"></form>
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-signin" method="POST" action="/login">
          <input type="text" class="form-control" name="email" placeholder="Correo electrónico">
          <input type="password" name="password" class="form-control" id="password" placeholder="Contraseña">
          <!-- <div id="remember" class="checkbox">
              <label>
                  <input type="checkbox" value="remember-me"> Remember me
              </label>
          </div> -->
          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Ingresar</button>
      </form><!-- /form -->
      <a href="#" class="forgot-password">
          ¿Olvidó su contraseña?
      </a>
    </form>
  </div><!-- /card-container -->
</div><!-- /container -->
</section>

</body>

</html>