<!DOCTYPE html>
<html lang="es">
<body>

<section name="reporte">
        <div class="container">
                <div class="card card-container">
                    <p id="profile-name" class="profile-name-card">Reportar problemas</p>
                    <form class="form-signin">
                        <span id="reauth-email" class="reauth-email"></span>
                        <input type="email" id="username" class="form-control" placeholder="Correo" required autofocus>
                        <input type="text" id="aunto" class="form-control" placeholder="Asunto" required autofocus>
                    </form><!-- /form -->
                    <div class="form-group">
                            <label for="comment">Descripción del problema</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                          </div>
                          <form class="form-signin" method="GET" action="/inicio">
                            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Enviar</button>
                            </form><!-- /form -->
                    
                </div><!-- /card-container -->
              </div><!-- /container -->
</section>

</body>

</html>