<!DOCTYPE html>
<html lang="es">
<body>
        <section name="answer register">

                <div class="container">
                    <div class="row">
                        <div class="col-12">

                                <!--Enunciado-->
                                <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Enunciado</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                                <input class="form-control" id="statement" type="text" disabled>
                                            </div>
                                        </div>
                                        <hr />
                                        <!--Tipo de respuesta-->
                                <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Tipo de respuesta</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                                <input class="form-control" id="answer type" type="text" disabled>
                                            </div>
                                        </div>
                                        <hr />
                                         <!--Respuesta correcta-->
                                <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Respuesta correcta</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                                <input class="form-control" id="correct answer" type="text" >
                                            </div>
                                        </div>
                                        <hr />
                                         <!--Justificación respuesta correcta-->
                                <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Justificación respuesta correcta</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                                <input class="form-control" id="correct answer justification" type="text" >
                                                <div class="input-group">
                                                        <label class="input-group-btn">
                                                            <span class="btn btn-primary">
                                                                Adjuntar archivos&hellip; <input type="file" style="display: none;" multiple>
                                                            </span>
                                                        </label>
                                                    </div>
                                            </div>
                                        </div>
                                        <hr />
                                         <!--Respuesta incorrecta 1-->
                                <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Respuesta incorrecta 1</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                                <input class="form-control" id="incorrect answer 1" type="text" >
                                            </div>
                                        </div>
                                        <hr />
                                         <!--Justificación Respuesta incorrecta 1-->
                                <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Justificación respuesta incorrecta 1</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                                <input class="form-control" id="justification incorrect answer 1" type="text" >
                                                <div class="input-group">
                                                        <label class="input-group-btn">
                                                            <span class="btn btn-primary">
                                                                Adjuntar archivos&hellip; <input type="file" style="display: none;" multiple>
                                                            </span>
                                                        </label>
                                                    </div>
                                            </div>
                                        </div>
                                        <hr />
                                         <!--Respuesta incorrecta 2-->
                                <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Respuesta incorrecta 2</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                                <input class="form-control" id="incorrect answer 2" type="text" >
                                            </div>
                                        </div>
                                        <hr />
                                         <!--Justificación Respuesta incorrecta 2-->
                                <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Justificación respuesta incorrecta 2</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                                <input class="form-control" id="justification incorrect answer 2" type="text" >
                                                <div class="input-group">
                                                        <label class="input-group-btn">
                                                            <span class="btn btn-primary">
                                                                Adjuntar archivos&hellip; <input type="file" style="display: none;" multiple>
                                                            </span>
                                                        </label>
                                                    </div>
                                            </div>
                                        </div>
                                        <hr />
                                         <!--Respuesta incorrecta 3-->
                                <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Respuesta incorrecta 3</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                                <input class="form-control" id="incorrect answer 3" type="text" >
                                            </div>
                                        </div>
                                        <hr />
                                         <!--Justificación Respuesta incorrecta 3-->
                                <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Justificación respuesta incorrecta 3</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                                <input class="form-control" id="justification incorrect answer 3" type="text" >
                                                <div class="input-group">
                                                        <label class="input-group-btn">
                                                            <span class="btn btn-primary">
                                                                Adjuntar archivos&hellip; <input type="file" style="display: none;" multiple>
                                                            </span>
                                                        </label>
                                                    </div>
                                            </div>
                                        </div>
                                        <hr />

                                         <!--Registrar respuestas-->
            <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                        <label style="font-weight:bold;"></label>
                    </div>
                    <div class="col-md-8 col-6">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Ingresar respuestas de la pregunta</button>

                          <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Pregunta ingresada éxitosamente</h4>
            </div>
            <div class="modal-body">
              <p>¿Desea ingresar una nueva pregunta?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Sí</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
          </div>
          
        </div>
      </div>

                        </div>
                    </div>
                    <hr />

                            </div>
                        </div>
                    </div>
                      
                </section>

</body>

</html>