<!DOCTYPE html>
<html lang="es">
<body>
    <!--Temas-->
    <section name="temas">
        <div class="container">
            <div class="row">
                <div class="col-12">
                     
                    <select class="form-control">
                       


                    </select>
                    </div>
                 </div>
             </div> 
         </section>

         <!--Subtemas-->     
         <section name="subtemas">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                             
                            <select class="form-control">
                                

                            
                            </select>
                            </div>
                         </div>
                     </div>
                 </section>
     </body>
     
     </html>