<!DOCTYPE html>
<html lang="es">
<body>
    <!--Temas-->
    <section name="temas">
        <div class="container">
            <div class="row">
                <div class="col-12">
                     
                    <select class="form-control">
                        <!--Componente común-->
                        <option value="1">1. Estructura del sistema de salud colombiano</option>
                        <option value="2">2. Medidas preventivas y acciones de responsabilidad civil, penal o disciplinarias.</option>
                        <option value="3">3. Aspectos relacionados con gestión institucional</option>
                        <option value="4">4. Aspectos generales interpretación de estados financieros</option>
                        <!--Interventor-->
                        <option value="5">5. Obligaciones de reporte de información del interventor </option>
                        <option value="6">6. Actos y contratos</option>
                        <option value="7">7. Derechos de los afiliados, beneficiarios,usuarios</option>
                        <option value="8">8. Viabilidad económica y financiera de las empresas bajo vigilancia de SNS.</option>
                        <option value="9">9. Medidas especiales de la SNS y funciones del interventor en cada una de ellas</option>
                        <!--Liquidador-->
                        <option value="10">10. Obligaciones de reporte de información del liquidador</option>
                        <option value="11">11. Actos y contratos</option>
                        <option value="12">12. Derechos de los afiliados, beneficiarios,usuarios</option>
                        <option value="13">13. Componente financiero del proceso de liquidación</option>
                        <option value="14">14. Medidas especiales de la SNS y funciones del liquidador en cada una de ellas</option>
                        <option value="15">15. Gestión documental en procesos de liquidación</option>
                        <!--Contralor-->
                        <option value="16">16. Obligaciones de reporte de información del contalor</option>
                        <option value="17">17. Derechos de los afiliados, beneficiarios,usuarios y acreedores</option>
                        <option value="18">18. Medidas especiales de la SNS y funciones del contralor en cada una de ellas</option>
                        <option value="19">19. Seguimiento de expedientes</option>
                        <option value="20">20. Revisoría fiscal</option>
                    </select>
                    </div>
                 </div>
             </div> 
         </section>

         <!--Subtemas-->     
         <section name="subtemas">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                             
                            <select class="form-control">
                                <!--Componente común 1-->
                                <option value="1.1">1.1 Reglamento, diferencias y particularidades de las IPS y EPS.</option>
                                <option value="1.2">1.2 Funciones de vigilancia, inspección y control en salud (Super,intendencia, Secretaría, Ministerio).</option>
                                <option value="1.3">1.3 Servicios del POS y no POS.</option>
                                <option value="1.4">1.4 Funciones del FOSYGA.</option>
                                <option value="1.5">1.5 Niveles del sistema a nivel nacional/territorial/municipal.</option>
                                <option value="1.6">1.6 Particularidades del sistema privado en prestación del servicio de salud.</option>
                                <option value="1.7">1.7 Niveles de complejidad de las IPS y centros hospitalarios (Categoría 1, 2 y 3).</option>
                                <option value="1.8">1.8 Funciones de la SNS para las medidas especiales.</option>
                               <!--Componente común 2-->
                               <option value="2.1">2.1 Medidas preventivas en casos de toma de posesión o intervención forzosa administrativa.</option>
                               <option value="2.2">2.2 Perjuicios a la entidad objeto de medida.</option>
                               <option value="2.3">2.3 Medidas disciplinarias.</option>
                                <!--Componente común 3-->
                                <option value="3.1">3.1 Representante legal.</option>
                                <option value="3.2">3.2 Tipo de sociedad EPS.</option>
                                <option value="3.3">3.3 Conocimientos del código de comercio.</option>
                                <option value="3.4">3.4 Certificaciones/ habilitación servicios.</option>
                                <option value="3.5">3.5 Gestión institucional relacionados con las IPS y EPS.</option>
                                <option value="3.6">3.6 Relaciones Laborales.</option>
                                <option value="3.7">3.7 Medidas cautelares en procesos judiciales (embargos, inmuebles).</option>
                                <!--Componente común 4-->
                               <option value="4.1">4.1 Indicadores financieros (relación entre pasivos, activos y patrimonio)</option>
                               <option value="4.2">4.2 Interpretación de ingresos y egresos.</option>
                               <option value="4.3">4.3 Interpretación de estados financieros.</option>
                               <!--Interventor 5-->
                               <option value="5.1">5.1 Informes de gestión - Rendición de cuentas.</option>
                               <option value="5.2">5.2 Reportes de Información financiera.</option>
                               <option value="5.3">5.3 Planes de trabajo.</option>
                               <option value="5.4">5.4 Cronograma de actividades.</option>
                               <!--Interventor 6-->
                               <option value="6.1">6.1 Actos administrativos (Ejecución, evaluación y seguimiento)</option>
                               <option value="6.2">6.2 Elaboración y ejecución de procesos contractuales con personas naturales y jurídicas.</option>
                               <option value="6.3">6.3 Proveedores y acreedores.</option>
                               <!--Interventor 7-->
                               <option value="7.1">7.1 Salud como derecho fundamental.</option>
                               <option value="7.2">7.2 Continuidad en la garantía de los derechos de salud de los usuarios.</option>
                               <option value="7.3">7.3 Aseguramiento de la salud.</option>
                               <option value="7.4">7.4 Intervención de EPS e IPS.</option>
                               <!--Interventor 8-->
                               <option value="8.1">8.1 Custodia de activos.</option>
                               <option value="8.2">8.2 Mantenimiento de infraestructura y equipos.</option>
                               <option value="8.3">8.3 Financiación, contabilidad y registro.</option>
                               <option value="8.4">8.4 Gestión de inventarios.</option>
                               <!--Interventor 9-->
                               <option value="9.1">9.1 Intervención Forzosa Administrativa para Administrar.</option>
                               <option value="9.2">9.2 Intervención Forzosa Administrativa para Liquidar.</option>
                               <option value="9.3">9.3 Toma de decisiones sobre liquidación.</option>
                               <option value="9.4">9.4 Operación de las entidades objeto de medida.</option>
                               <!--Liquidador 10-->
                               <option value="10.1">10.1 Informes gestión - Rendición de cuentas.</option>
                               <option value="10.2">10.2 Reportes de Información financiera de liquidación.</option>
                               <option value="10.3">10.3 Planes de trabajo en liquidación.</option>
                               <option value="10.4">10.4 Cronograma de actividades para liquidación.</option>
                               <!--Liquidador 11-->
                               <option value="11.1">11.1 Actos administrativos (Ejecución, evaluación y seguimiento)</option>
                               <option value="11.2">11.2 Elaboración, ejecución y liquidación de contratos con personas naturales y jurídicas.</option>
                               <option value="11.3">11.3 Proveedores y acreedores.</option>
                               <option value="11.4">11.4 Contrato de mandato.</option>
                               <option value="11.5">11.5 Conmutación pensional.</option>
                               <!--Liquidador 12-->
                               <option value="12.1">12.1 Salud como derecho fundamental.</option>
                               <option value="12.2">12.2 Continuidad en la garantía de los derechos de salud de los usuarios.</option>
                               <option value="12.3">12.3 Aseguramiento de la salud.</option>
                               <option value="12.4">12.4 Liquidación de EPS e IPS.</option>
                               <!--Liquidador 13-->
                               <option value="13.1">13.1 Ejecución de activos pasivos.</option>
                               <option value="13.2">13.2 Proceso de liquidación de la entidad pública.</option>
                               <option value="13.3">13.3 Liquidación de la sociedad.</option>
                               <option value="13.4">13.4 Control y custodia de activos.</option>
                               <option value="13.5">13.5 Mantenimiento y custodia de la contabilidad y registros.</option>
                               <option value="13.6">13.6 Graduación y calificación de acreencias.</option>
                               <!--Liquidador 14-->
                               <option value="14.1">Intervención Forzosa Administrativa para Liquidar.</option>
                               <!--Liquidador 15-->
                               <option value="15.1">15.1 Manejo de historias clínicas.</option>
                               <option value="15.2">15.2 Manejo de archivo.</option>
                               <option value="15.3">15.3 Otros archivos generales en procesos de liquidación.</option>
                                <!--Contralor 16-->
                                <option value="16.1">16.1 Control sobre informes de gestión.</option>
                                <option value="16.2">16.2 Control sobre Planes de trabajo.</option>
                                <option value="16.3">16.3 Control sobre Cronograma de actividades.</option>
                                <option value="16.4">16.4 Control sobre Indicadores de gestión.</option>
                                <!--Contralor 17-->
                                <option value="17.1">17.1 Control sobre la continuidad en la garantía de los derechos de salud de los usuarios.</option>
                                <option value="17.2">17.2 Control sobre el Aseguramiento del servicio de salud.</option>
                                <option value="17.3">17.3 Salud como derecho fundamental.</option>
                                <!--Contralor 18-->
                                <option value="18.1">18.1 Control sobre la Intervención Forzosa Administrativa para Administrar.</option>
                                <option value="18.2">18.2 Control sobre Intervención Forzosa Administrativa para Liquidar.</option>
                                <option value="18.3">18.3 Control sobre Operación de las entidades objeto de medida.</option>
                                <option value="18.4">18.4 Vigilancia especial.</option>
                                <!--Contralor 19-->
                                <option value="19.1">19.1 Custodia de los expedientes</option>
                                <option value="19.2">19.2 Puesta de expedientes a disposición de los interesados</option>
                                <option value="19.3">19.3 Control sobre el contenido de los expedientes</option>
                                <option value="19.4">19.4 Vigilancia de los expedientes.</option>
                                <!--Contralor 20-->
                                <option value="20.1">20.1 Inhabilidades del Revisor Fiscal.</option>
                                <option value="20.2">20.2 Funciones del Revisor Fiscal.</option>
                                <option value="20.3">20.3 Contenido de los informes del Revisor Fiscal; Estados Financieros.</option>
                                <option value="20.4">20.4 Contenido del Informe del Revisor Fiscal presentado a la Asamblea o Junta de Socios.</option>
                                <option value="20.5">20.5 Responsabilidad del Revisor Fiscal.</option>
                                <option value="20.6">20.6 Deberes de intervención del Revisor Fiscal.</option>
                                <option value="20.7">20.7 Reserva del Revisor Fiscal en el ejercicio de sus funciones.</option>
                                <option value="20.8">20.8 Requisitos y restricciones para ejercer el cargo de Revisor Fiscal.</option>
                                <option value="20.9">20.9 Régimen disciplinario frente a la junta central de contadores.</option>
                                <option value="20.10">20.10 Deberes profesionales.</option>
                            </select>
                            </div>
                         </div>
                     </div>
                 </section>
     </body>
     
     </html>